Repository Armor-test/payment-client-501, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/dept-security, @Armor-test/team-core, @Armor-test/squad-ml, @Armor-test/squad-database, @Armor-test/squad-frontend, @Armor-test/unit-devops, @Armor-test/squad-cache, @Armor-test/squad-reporting, @Armor-test/grp-reporting, @Armor-test/team-research, @Armor-test/grp-storage, @Armor-test/dept-billing, @Armor-test/squad-performance, @Armor-test/dept-api, @Armor-test/squad-payments, @Armor-test/squad-qa, @Armor-test/unit-governance, @Armor-test/grp-payments, @Armor-test/grp-ui, @Armor-test/team-reporting, @Armor-test/dept-identity, @Armor-test/squad-api, @Armor-test/squad-apps, @Armor-test/dept-release, @Armor-test/squad-tooling, @Armor-test/squad-search, @Armor-test/dept-logging, @Armor-test/dept-data, @Armor-test/squad-product, @Armor-test/unit-test, @Armor-test/squad-research, @Armor-test/unit-design, @Armor-test/dept-automation, @Armor-test/team-security, @Armor-test/squad-mobile, @Armor-test/team-notifications, @Armor-test/dept-notifications, @Armor-test/dependency-team, @Armor-test/security, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/infra

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/dept-security, @Armor-test/team-core, @Armor-test/squad-ml

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/dept-security, @Armor-test/team-core, @Armor-test/squad-ml

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/dept-identity, @Armor-test/squad-performance, @Armor-test/squad-api

Add src/main.py
  src/main.py
Owners: @Armor-test/dept-security, @Armor-test/team-core, @Armor-test/squad-ml

Add src/index.js
  src/index.js
Owners: @Armor-test/grp-storage, @Armor-test/squad-reporting

.github/CODEOWNERS:

# CODEOWNERS file for payment-client-501
# Global owners - will be requested for all PRs
* @Armor-test/dept-security @Armor-test/team-core @Armor-test/squad-ml

# Directory ownership
/pages/ @Armor-test/squad-database @Armor-test/squad-frontend @Armor-test/unit-devops
/middleware/ @Armor-test/squad-cache @Armor-test/squad-reporting @Armor-test/grp-reporting
/deploy/ @Armor-test/team-research @Armor-test/grp-storage @Armor-test/dept-security
/public/ @Armor-test/dept-billing @Armor-test/squad-performance
/assets/ @Armor-test/dept-api @Armor-test/squad-payments
/examples/ @Armor-test/squad-qa @Armor-test/squad-cache @Armor-test/unit-governance
/security/ @Armor-test/grp-payments @Armor-test/dept-billing
/core/ @Armor-test/grp-ui @Armor-test/team-reporting
/test/ @Armor-test/dept-identity @Armor-test/squad-performance @Armor-test/squad-api
/utils/ @Armor-test/squad-apps @Armor-test/dept-release @Armor-test/team-research
/build/ @Armor-test/squad-tooling @Armor-test/squad-search @Armor-test/dept-api
/views/ @Armor-test/dept-logging @Armor-test/dept-api

# File type ownership
*.css @Armor-test/dept-data @Armor-test/squad-product @Armor-test/dept-security
*.h @Armor-test/unit-test @Armor-test/squad-research
*.swift @Armor-test/unit-design @Armor-test/dept-automation
*.rs @Armor-test/dept-data @Armor-test/dept-security
*.yaml @Armor-test/unit-design @Armor-test/unit-governance @Armor-test/team-security
*.kt @Armor-test/squad-mobile @Armor-test/dept-automation
*.json @Armor-test/dept-billing @Armor-test/team-notifications @Armor-test/team-security
*.graphql @Armor-test/team-reporting @Armor-test/squad-database @Armor-test/dept-billing
*.js @Armor-test/grp-storage @Armor-test/squad-reporting
*.php @Armor-test/dept-billing @Armor-test/squad-research
*.tf @Armor-test/squad-database @Armor-test/squad-reporting @Armor-test/squad-research
*.scss @Armor-test/dept-notifications @Armor-test/squad-product @Armor-test/grp-payments
*.c @Armor-test/dept-logging @Armor-test/dept-data @Armor-test/dept-identity

# Security and special files
package.json @Armor-test/dependency-team @Armor-test/security
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
Dockerfile @Armor-test/devops @Armor-test/infra
